html {
    background-color:  #f3e2e2;
    
}

html, body {
    position: relative;
    max-height: 2000px;
    min-width: 3900px;
    overflow: auto;
   
  }

#purse {
    width:  -50%;
    height:  -50%;
    position: relative;
    transform: rotate(130deg);
    top: -500px;
    left: -250px;
    z-index: 1;
}

#rose {
    width:  10%;
    height:  10%;
    position: relative;
    transform: rotate(150deg) scaleX(-1);
    top: -950px;
    right: 1400px;
    z-index: 2;
}

#perfume {
    width:  10%;
    height:  10%;
    position: relative;
    transform: rotate(-100deg);
    right: 1200px;
    bottom: -1020px;
    z-index: -3;
}

#bunny {
    position: relative;
    transform: rotate(50deg);
    top: -1500px;
    right: 2960px;
    z-index: 0;
}

#pink-planet {
    width:  15%;
    height:  15%;
    position: relative;
    transform: rotate(-20deg);
    right: 200px;
    bottom: 1000px;
    z-index: 4;
}

#butterfly {
    position: relative;
    transform: rotate(-20deg);
    bottom: 50px;
    right: 2000px;
    z-index: 5;
}

#flower-spacehey {
    width:  5%;
    height:  5%;
    position: relative;
    transform: rotate(10deg);
    right: 500;
    bottom: 1000px;
    z-index: 6;
}

#water {
    width: 10%;
    height: 10%;
    position: relative;
    bottom: -1000px;
    z-index: -1;
}

#water-holographic {
    z-index: 7;
}

#job {
    width:  3%;
    height: 3%;
    position: relative;
    transform: rotate(-10deg);
    left: 2000px;
    z-index: 8;
}

#ferrero {
    width:  20%;
    height: 20%;
    position: relative;
    transform: rotate(20deg);
    left: 1800px;
    bottom: 500px;
    z-index: 9;
}

#star {
   
    position: relative;
    transform: rotate(-30deg);
    left: 1600px;
    bottom: 500px;
    z-index: 10;
}

#pomegranate {
    width:  15%;
    height: 15%;
    position: relative;
    transform: rotate(40deg);
    left: 300px;
    bottom: 1200px;
    z-index: 12;
}

#lipstick-smear {
    width:  15%;
    height: 15%;
    position: relative;;
    right: 300px;
    bottom: 900px;
    z-index: 11;
}

#lipstick {
    width:  25%;
    height: 25%;
    position: relative;
    right: 1000px;
    bottom: 300px;
    z-index: 13;
}

#gold-coin {
    width:  8%;
    height: 8%;
    position: relative;
    left: 1500px;
    z-index: 14;
}

#hand-grab {
    width: 25%;
    height: 25%;
    position: relative;
    right: 500px;
    bottom: 1000px;
    z-index: 15;
}