html,body {
    max-width: 100%;
    max-height: fit-content;
    background-color: #cdb9a7;
    text-align: center;
    color: #110c0c;
    background-image: url("paper.jpg");

}


progress {
    accent-color: #ffa7ff;
    font-size: x-small;
}

  
  img {
    mix-blend-mode: multiply;
  }

  a {
    text-decoration: none;
    color: black;

  }

  a:hover {
    color: #ff62da;
  }

  .start-box, #start {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-right: 100px;
    margin-top: 120px;
    font-size: xxx-large;
 }

  #pt-title {
    font-size: 80px;
    margin-bottom: -20px;
  }

  .p-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.p-text {
    font-size: 50px;
}

.p-box, .t-box {
    align-items: center;
    gap: 1px;
}

#Princess , #Trouble {
    gap: 200px;
}

#mask {
    float: right;
}

#pretend-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
}


.search-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#wall-box {
    flex: 1;
}

.search-box {
    flex: 2;
}

.search-box a {
    display: block;
    margin-top: 10px;
}